.search-results {
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
}
  
.results {
    margin-bottom: 2rem;

    list-style: none;
}
  
.pagination {
    margin-top: auto;
    padding: 0 3.5rem;
  
    &::after {
      content: '';
      display: table;
      clear: both;
    }
  
    &__btn {
      &--prev {
        float: left;
      }
      &--next {
        float: right;
      }
    }
}
  
.copyright {
    margin-top: 4rem;
    padding: 0 3.5rem;

    color: $color-grey-dark-2;
    font-size: 1.2rem;
  
    .twitter-link:link,
    .twitter-link:visited {
      color: $color-grey-dark-2;
    }
}
  